A:link {
	COLOR: #39597d; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:visited {
	COLOR: #39597d; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
A:active {
	COLOR: #39597d; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #39597d; FONT-WEIGHT: bold; TEXT-DECORATION: underline
}
.NArial {
	FONT-FAMILY: arial; FONT-SIZE: 10pt
}
.NArialL {
	FONT-FAMILY: arial; FONT-SIZE: 12pt
}
.NArialS {
	FONT-FAMILY: arial; FONT-SIZE: 8pt
}
.NArialW {
	COLOR: #ffffff; FONT-FAMILY: arial; FONT-SIZE: 10pt
}
A.NArialW:link {
	COLOR: #ffffff
}
A.NArialW:visited {
	COLOR: #ffffff
}
A.NArialW:active {
	COLOR: #ffffff
}
A.NArialW:hover {
	COLOR: #ffffff
}
.NArialSW {
	COLOR: #ffffff; FONT-FAMILY: arial; FONT-SIZE: 8pt
}
A.NArialSW:link {
	COLOR: #ffffff
}
A.NArialSW:visited {
	COLOR: #ffffff
}
A.NArialSW:active {
	COLOR: #ffffff
}
A.NArialSW:hover {
	COLOR: #ffffff
}
.NArialLW {
	COLOR: #ffffff; FONT-FAMILY: arial; FONT-SIZE: 12pt
}
.Navlink {
	COLOR: #ffffff; CURSOR: default; FONT-FAMILY: arial; FONT-SIZE: 8pt; TEXT-DECORATION: none
}
A.Navlink:link {
	COLOR: #ffffff
}
A.Navlink:visited {
	COLOR: #ffffff
}
A.Navlink:active {
	TEXT-DECORATION: none
}
A.Navlink:hover {
	TEXT-DECORATION: none
}
.NArialSP {
	COLOR: #c6cfd9; FONT-FAMILY: arial; FONT-SIZE: 8pt; FONT-WEIGHT: bold
}
A.NArialSP:link {
	COLOR: #c6cfd9
}
A.NArialSP:visited {
	COLOR: #c6cfd9
}
A.NArialSP:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.NArialSP:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.NArialSG {
	COLOR: #808080; FONT-FAMILY: arial; FONT-SIZE: 8pt
}
A.NArialSG:link {
	COLOR: #808080
}
A.NArialSG:visited {
	COLOR: #808080
}
A.NArialSG:active {
	COLOR: #5b5b5b
}
A.NArialSG:hover {
	COLOR: #5b5b5b
}
.iconfont {
	FONT-FAMILY: webdings; FONT-SIZE: 12pt
}
