BODY {
  FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif
}
A {
  COLOR: #003388; TEXT-DECORATION: none
  }
A:hover {
  COLOR: #0066ff; TEXT-DECORATION: none
  }
TD {
  FONT-SIZE: 10pt; FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif
}
.loginButton,.SubmitButton {
  font-size:8pt; FONT-FAMILY: Verdana, Arial, Helvetica, Tahoma, sans-serif; background: #726257;color:#FFE5B6;border:1px outset #726257;
}
input,select{
  border-style: ridge; border-width: 1px;
}